/** 自定义 Element Plus 样式 */

:root {
  --el-color-primary: #111112;
  --el-color-success: #1eba83;
  --el-color-danger: #f43f5e;
  --el-color-warn: #ff7f00;
  --el-color-failed: #ae0000;
  --el-menu-bg-color: #353f4c;
  --el-menu-active-bg-color: #5e6772;
  --el-menu-text-color: #fcfafa;
  --el-menu-active-color: #cec6e9;
  --el-fill-color-blank: #fcfafa;
  --el-text-color-regular: #646781;
  --el-dialog-bg-color: #fcfafa;
  --active-color: #E30214;
  --smallSize: 576px;
  --bigSize: 1600px;
  --el-border-radius-base: 8px;
  --el-table-border: 1px solid #5e6772;
}

html.dark {
  --el-color-primary: #1D1C23CC;
  --el-color-warn: #ff7f00;
  --el-color-failed: #ae0000;
  --el-menu-bg-color: #232527;
  --el-menu-active-bg-color: #5e6772;
  --el-menu-text-color: #fcfafa;
  --el-menu-active-color: #cec6e9;
  --el-fill-color-blank: #fcfafa;
  --el-text-color-regular: #646781;
  --el-dialog-bg-color: #333333;
  --el-border-radius-base: 8px;

}

.xs-font-28 {
  font-size: 28px;
  font-weight: 600;
  line-height: 40px;
}

.el-select__wrapper {
  width: auto;
  box-shadow: 0 0 0 1px #fff;

  &:hover {
    box-shadow: 0 0 0 1px #E30214 inset;
  }

  .is-focused {
    box-shadow: 0 0 0 1px #E30214 inset;
  }

}

.el-select-dropdown {
  .el-select-dropdown__item {
    margin: 4px;
    color: #111112;

    &:hover {
      color: #111112;
      background-color: #2E2E3820;
    }
  }

  .el-select-dropdown__item.is-selected {
    color: #111112 !important;
    background-color: #2e2e3840;
  }
}



.el-input-group__append {
  width: 157px;
}

.el-input-group__append {
  color: #fff;
}

.el-input {
  .el-input__wrapper.is-focus {
    box-shadow: 0 0 0 1px #1d1c23 inset;
  }

  &:hover {
    .el-input__wrapper {
      box-shadow: 0 0 0 1px #1d1c23 inset;
    }
  }
}

.active-bg {
  border-bottom: #20262e solid 3px;
}

.el-button--primary {
  --el-button-hover-border-color: #414344;
  --el-button-hover-bg-color: #414344;
}

.el-card {
  border: none;
}

// 表格
.el-table {

  // 表头
  th.el-table__cell {
    color: #fff;
    background-color: #111113 !important;
  }
}

.el-dialog,
.el-message-box {
  border: none;
  border-radius: 12px;
  background: #fcfbff;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.5);
  // background: linear-gradient(270deg,
  //     rgba(0, 0, 0, 0.8) 0%,
  //     rgba(0, 0, 0, 0) 179%),
  //   linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));

  .el-dialog-title {
    font-weight: 500;
    color: #fff;
    padding: 2px 6px;
    text-shadow: 0px 0px 6px #00d1ff;
    border-left: 3px solid #01d1ff;
    // background: linear-gradient(270deg,
    //     rgba(27, 126, 242, 0) 25%,
    //     rgba(27, 165, 242, 0.319611) 57.56%,
    //     #2996b9 100.13%);
  }

  .el-dialog__headerbtn {
    width: 46px;
    height: 46px;
    top: 0;

    .el-dialog__close {
      color: var(--el-color-warn);
      font-size: 20px;
      align-items: center;
    }
  }

  .el-dialog__header,
  .el-message-box__header {
    display: none !important;
    color: var(--el-color-primary);
    display: flex;
    padding: 0 12px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    border-radius: 12px 12px 0 0;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    border-bottom: solid 1px var(--el-color-primary);

    .el-message-box__title {
      color: var(--el-color-primary);
    }

    .el-message-box__close {
      color: var(--el-color-warn);
      font-size: 20px;
      align-items: center;
    }
  }

  .el-dialog__body {
    padding: 12px 16px;

    .el-form {
      align-items: center;

      .el-form-item {

        .el-form-item__content {
          // width: 240px;
        }
      }
    }

    .el-table,
    .cell {
      text-align: center;
    }
  }


  .el-dialog__footer {
    margin: 0 30px;
    padding-bottom: 28px;
    border-top: 1px var(--el-color-primary) dashed;
  }

  .el-message-box__btns {
    margin: 4px 30px;
    border-top: 1px var(--el-color-primary) dashed;
  }

  .el-message-box__content {
    padding: 18px;
    color: var(--el-text-color-warning);
  }

  .el-descriptions__body .el-descriptions__table:not(.is-bordered) .el-descriptions__cell {
    padding: 4px 10px;
  }
}

// 分页
.el-pagination {

  // 参考 Bootstrap 的响应式设计 WIDTH = 768
  @media screen and (max-width: 768px) {

    .el-pagination__total,
    .el-pagination__sizes,
    .el-pagination__jump,
    .btn-prev,
    .btn-next {
      display: none !important;
    }
  }
}